@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    list-style: none;
}

div.quadrado {
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 10px;
    color: white;
    font-size: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 1s ease;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    gap: 30px;
}

h1 {
    font-size: 28px;
}

div.container {
    display: grid;
    gap: 15px;
}

#mensagem{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

button{
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    background-color: black;
    color: white;
    transition: background 0.3s ease-in-out;
    cursor: pointer;
}

button.hover{
    background-color: rgb(99, 99, 99);
    transition: background 0.3s ease-in-out;
}

#mensagem-texto{
    text-transform: capitalize;
    color: red;
    font-weight: bold;
}