*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    list-style: none;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'poppins', sans-serif;
    background-color: rgb(190, 190, 190);
}

nav{
    background-color: rgb(200,  200, 200);
    color: white;
}

nav ul{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 20px;
}

nav ul li a{
    color: gray;
    font-size: 26px;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
}

nav ul li a:hover{
    background-color: rgb(93, 93, 93);
    color: white;
    transition: background 0.3s ease-in-out, color 0.3 ease-in-out;
}

section{
    height: 100vh;
    text-align: center;
}

section.section1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;
}

section.section1 div.esquerda,
section.section1 div.direita{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

section.section1 div.esquerda{
    background-color: black;
    border-right: 2px solid #d5d5d5;
}

h1{
    font-size: 40px;
    width: 70%;
}

p {
    width: 80%;
}

section.section2{
    background-color: black;
    display: grid;
    place-items: center;
}

section.section2 div.galeria{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
}

div.galeria img{
    height: 200px;
    object-fit: cover;
}